<form action="/<%= @books.id%>"  method="post">
  <div class="">
    <div><label>Title:</label></div>
    <div><input type="text" value="<%= @books.title%>"  name="title" placeholder="Enter new title"></div>
  </div>

  <div class="">
    <div><label>Author:</label></div>
    <div><input type="text" value="<%= @books.author%>"  name="author" placeholder="Enter new author"></div>
  </div>

  <div class="">
    <div><label>Description:</label></div>
    <div><textarea
      name="description" rows="8" cols="80" placeholder="Enter new description">
      <%= @books.description%>
    </textarea></div>
  </div>

  <div class="">
    <% if (@books.id != nil) %>
    <input type="hidden" name="_method" value="PUT">
    <% end %>
    <input type="submit" value="Save post">
  </div>

</form>
